footer{
    background: rgb(10,16,43);
    background: linear-gradient(90deg, rgba(10,16,43,1) 70%, rgba(8,23,103,1) 80%);
    font-family: 'Titillium Web', sans-serif;   
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: nth($colores, 1 );
    div{         
        ul{
            list-style: none;
            li{
                text-decoration: none;
                margin: 15px;
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                }
                a{
                    text-decoration: none;
                    color: nth($colores, 1 );
                    margin: 10px;
                    
                }
            }
        }
        img{
            margin: 5px;
        }
    }
}
.pie{
    grid-area: footer;
}