header{
    background-color: nth($colores, 2 );;
    font-family: 'Titillium Web', sans-serif;    
    font-size: 25px;
    position: sticky;
    top: 0;
    nav{
        div{
            ul{
                li{
                    a{
                        text-decoration:none;
                        color: nth($colores, 1 );
                        transition: 1s;
                        &:hover{
                            color: nth($colores, 3 );                         
                        }
                    }
                }

            }
        }
    }
}

.encabezado{
    grid-area: header;

    .navegacion{
        div{
            display: flex;
            justify-content: space-between;
            p{
                margin: 15px;
                color: nth($colores, 1 );
                
            }
            ul{
                li{
                    display: inline-block;
                    margin: 15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    a{
                        text-decoration:none;
                        color: nth($colores, 1 ); 
                        transition: 1s;
                    }
                }
            }

        }
    }

}