
@media screen and (max-width:1265px){
    header{
        
        nav{
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    li{
                        a{

                        }
                    }
                }
                
            }
        }
    }

} 
@media screen and (max-width:1200px){
    header{
        position: unset;
    }

}

.galeria{
    .grid-galeria{
        @media screen and (max-width:950px) {
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: 220px;
            
        }
        @media screen and (max-width:450px) {
                grid-template-columns: repeat(1,1fr);
                grid-auto-rows: 220px;
            }
            
        }
        
    }
    

@media screen and (max-width:876px){
    
    footer{
        flex-direction: column;
        align-items: center;
    }
}


